<div class="edit-form-card-container">
  <div class="card">
    <div class="card-header">
      <div class="h2-container">
        <h2>Add new user</h2>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="addUserForm" (ngSubmit)="applyAddUser()">
        <p>
          <strong>Email:&nbsp;</strong>
          <input type="text" formControlName="emailField" />
        </p>
        <p>
          <strong>Username:&nbsp;</strong>
          <input type="text" formControlName="userNameField" />
        </p>
        <p>
          <strong>Password:&nbsp;</strong>
          <input type="text" formControlName="passwordfield" />
        </p>
        <p>
          <strong>Role:&nbsp;</strong>
          <select id="role" name="role" formControlName="rolefield">
            <option [ngValue]="1">Admin</option>
            <option [ngValue]="0">User</option>
          </select>
        </p>
      </form>
    </div>
  </div>
</div>
<div class="button-container">
  <button class="primary" type="button" (click)="applyAddUser()">Apply</button>
  <button class="primary" type="button" (click)="cancelAddUser()">
    Cancel
  </button>
</div>
