.header {            
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    display: flex; 
    max-width: 200px;
    font-size: 24px;           /* Header font size */
    font-weight: normal;       /* Header font weight */
    margin: 0;             /* Remove margin */
}

button.primary {
    background-color: #008CBA; /* Button background color */
    color: white;
    padding: 10px 15px;        /* Button padding */
    border: none;
    border-radius: 25px;       /* Round button corners */
    cursor: pointer;
    font-size: 16px;           /* Button font size */
    font-weight: bold;         /* Button font weight */
    text-transform: uppercase;  /* Uppercase text */
    transition: all 0.3s ease; /* Transition effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

button.primary:hover {
    background-color: #005f75; /* Darker blue on hover */
    transform: translateY(-2px); /* Slight lift effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

button.primary:disabled {
    background-color: #ccc;     /* Greyed-out button when disabled */
    cursor: not-allowed;        /* Disable cursor */
}

.button-container{
    max-width: 200px;
    display: inline-block;
    margin: 0;
    width:auto;
    height:auto;
    justify-content: flex-end; 
}

.h1-container{
    max-width: 200px;
    display: inline-block;
    width:auto;
    height:auto;
    justify-content: flex-start; 
}
