<div class="card">
  <div class="card-header">
    <div class="h2-container">
      <h2>{{ card.title }}</h2>
    </div>
    <div class="images-container">
      <img
        class="card-edit-image"
        src="images/edit.png"
        alt="edit"
        (click)="editCard()"
      />
      <img
        class="card-delete-image"
        src="images/trash.png"
        alt="delete"
        (click)="deleteCard()"
      />
    </div>
  </div>
  <div class="card-body">
    <p>{{ card.description }}</p>
    <p><strong>Author:</strong> {{ card.author }}</p>
    <p><strong>Create Date:</strong> {{ card.createDate | date : "short" }}</p>
    <p><strong>Status:</strong> {{ card.status }}</p>
  </div>
</div>
