/* This will be used for app-wide styles */
.content {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  width: 100%;            /* Ensure it takes full width */
  height: calc(100vh - 60px); /* Full height minus header height */
  padding-top: 60px;     /* Space for fixed header */
}
